@font-face {
    font-family: 'Oswald';
    src: local('Oswald'), url('./Oswald-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Suravaram';
    src: local('Suravaram'), url('./Suravaram-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Bruno Ace';
    src: local('Bruno Ace'), url('./BrunoAce-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Prompt';
    src: local('Prompt'), url('./Prompt-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Rum Raisin';
    src: local('Rum Raisin'), url('./RumRaisin-Regular.ttf');
    font-weight: 400;
}
:root {
    font-size: 100%;
}
body {
    margin: 0;
    background-color: #F1F6F9;
}