@media screen and (max-width: 730px) {
    #container {
        padding: 0.5rem;
    }

    header {
        grid-template-columns: 1fr auto;
        margin-bottom: 1rem;

        h1 {
            grid-column: 1;

            span {
                display: none;
            }
        }
    }

    main {
        gap: 1rem;

        #div-timer-type {
            display: flex;
            max-width: 100%;

            .btn-timer-type {
                padding-inline: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .settingsWindow {
        width: 100%;

        h3 {
            margin: 1rem 0;
        }
        p {
            font-size: 1.25rem
        }
    }

    #timer #time {
        font-size: min(5.5rem, 21vw);
    }
}