@media screen and (max-width: 730px) {
    #container {
        padding: 0.5rem;
    }

    header {
        grid-template-columns: 1fr auto;

        h1 {
            grid-column: 1;

            span {
                display: none;
            }
        }
    }

    #div-timer-type {
        display: flex;
        flex-flow: column nowrap;
    }
}

@media screen and (max-width: 540px) {
    .settingsWindow {
        width: 100%;

        p {
            font-size: 1.25rem
        }
    }

    #timer #time {
        font-size: min(5.5rem, 21vw);
    }
}