.font-sura {

    button,
    p {
        font-family: 'Suravaram';
        line-height: 100%;
        font-size-adjust: 0.39;
    }
}

.font-prompt {

    button,
    p {
        font-family: 'Prompt';
        line-height: 100%;
        font-size-adjust: 0.39;
    }
}

.font-bruno {

    button,
    p {
        font-family: 'Bruno Ace';
        font-stretch: condensed;
        line-height: 100%;
        font-size-adjust: 0.39;
    }
}