$main-text-blue : rgb(37, 64, 121);
$main-text-blue-50 : rgba(37, 64, 121, 0.5);
$main-text-red: rgb(223, 81, 81);
$main-text-red-50: rgba(223, 81, 81, 0.5);
$main-text-green : rgb(59, 115, 33);
$main-text-green-50 : rgba(59, 115, 33, 0.5);

.font-sura {

    button,
    p {
        font-family: 'Suravaram';
        line-height: 100%;
        font-size-adjust: 0.39;
    }
}

.font-prompt {

    button,
    p {
        font-family: 'Prompt';
        line-height: 100%;
        font-size-adjust: 0.39;
    }
}

.font-bruno {

    button,
    p {
        font-family: 'Bruno Ace';
        font-stretch: condensed;
        line-height: 100%;
        font-size-adjust: 0.39;
    }
}

h1,
h2,
h3,
p,
button,
label,
main #timer>div .pie {
    transition: border-color 200ms, color 200ms, background-color 200ms;
}

.settingsWindow {
    >div:last-of-type {
        transition: border-color 200ms, color 200ms, background-color 200ms;
    }

    .slider {
        input {

            background-color,
            &::-moz-range-thumb,
            &::-webkit-slider-thumb {
                transition: border-color 200ms, color 200ms, background-color 200ms;
            }
        }
    }

    .auto-cycle-label {

        input,
        >div {
            transition: border-color 200ms, color 200ms, background-color 200ms;
        }
    }
}

#btn-start,
.settings-close-btn,
.btn-settings {
    transition: filter 200ms;
}

.theme-red {

    h1,
    h2,
    h3,
    p,
    button,
    label {
        color: $main-text-red;
    }

    main #timer>div .pie {
        border-color: $main-text-red;
    }

    .settingsWindow {
        >div:last-of-type {
            border-color: $main-text-red-50;
        }

        .slider {
            input {
                background-color: $main-text-red;

                &::-moz-range-thumb {
                    border-color: $main-text-red;
                }

                &::-webkit-slider-thumb {
                    border-color: $main-text-red;
                }
            }
        }

        .auto-cycle-label {
            input {
                &:checked~div::after {
                    color: $main-text-red;
                }
            }

            >div {
                border-color: $main-text-red;
            }
        }
    }

    #btn-start,
    .settings-close-btn,
    .btn-settings {
        filter: invert(39%) sepia(15%) saturate(2939%) hue-rotate(314deg) brightness(97%) contrast(102%);
    }
}

.theme-green {

    h1,
    h2,
    h3,
    p,
    button,
    label {
        color: $main-text-green;
    }

    main #timer>div .pie {
        border-color: $main-text-green;
    }

    .settingsWindow {
        >div:last-of-type {
            border-color: $main-text-green-50;
        }

        .slider {
            input {
                background-color: $main-text-green;

                &::-moz-range-thumb {
                    border-color: $main-text-green;
                }

                &::-webkit-slider-thumb {
                    border-color: $main-text-green;
                }
            }
        }

        .auto-cycle-label {
            input {
                &:checked~div::after {
                    color: $main-text-green;
                }
            }

            >div {
                border-color: $main-text-green;
            }
        }
    }

    #btn-start,
    .settings-close-btn,
    .btn-settings {
        filter: invert(36%) sepia(21%) saturate(1375%) hue-rotate(57deg) brightness(99%) contrast(91%);
    }
}

.theme-blue {

    h1,
    h2,
    h3,
    p,
    button,
    label {
        color: $main-text-blue;
    }

    main #timer>div .pie {
        border-color: $main-text-blue;
    }

    .settingsWindow {
        >div:last-of-type {
            border-color: $main-text-blue-50;
        }

        .slider {
            input {
                background-color: $main-text-blue;

                &::-moz-range-thumb {
                    border-color: $main-text-blue;
                }

                &::-webkit-slider-thumb {
                    border-color: $main-text-blue;
                }
            }
        }

        .auto-cycle-label {
            input {
                &:checked~div::after {
                    color: $main-text-blue;
                }
            }

            >div {
                border-color: $main-text-blue;
            }
        }
    }

    #btn-start,
    .settings-close-btn,
    .btn-settings {
        filter: invert(21%) sepia(63%) saturate(800%) hue-rotate(187deg) brightness(95%) contrast(95%);
    }
}